body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(50,50,50);
    font-family: Verdana, Tahoma, sans-serif; 
    color: white;
}

header{
    padding-top: 20px;
    padding-left: 40px;
    background-image: url(/bilder/header_background.jpg);
    color: white;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-image: url(/bilder/header_background.jpg);
    padding-right: 40px;
}

footer{
    background-color: rgb(40, 40, 40);
    text-align: center;
    padding: 12px;
    color: white;
}

/* Article Flex (+grid) */
@media (max-width: 400px)
{
    article .grid img:not(.mapmarker){
        width: 100px;
    }
}

@media (min-width: 700px)
{

    .flex
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    article
    {
        flex-basis: 40%;
        flex-grow: 1;
        
    }

}
@media (min-width: 1200px)
{
    .flex
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    article
    {
        flex-basis: 25%;
        flex-grow: 1;
    }
}
@media (min-width: 1550px)
{
    .flex
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    article
    {
        flex-basis: 20%;
        flex-grow: 1;
    }
}

/*linking*/
a{
  color: white;
  text-decoration: none;  
}

article a{
    text-decoration: underline;
}

a:hover {
    color: orangered;
}

footer a{
    text-decoration: underline;   
}

.test{
    color: orange;
}

.test a{
    color: orange;
    text-decoration: underline;
}
.test a:hover{
    color: red;
}


#intro{
    color: white;
    text-decoration: none;
    padding: 10px;
    padding-right: 10px ;
    margin: 15px;
    max-width: 600px;
    font-family: 'Courier New', Courier, monospace;
}

article{
    background-color: rgb(60,60,60);
    color: white;
    text-decoration: none;
    padding: 10px;
    padding-right: 5px ;
    padding-left: 10px;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

article p{
    padding-right: 5px;
    text-align: left;
}
/* Article Grid */
.grid
{
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: none;
    flex-grow: 1;
}

article .arttext
{
    grid-row: 1;
    grid-column: 1;
}
article .grid img:not(.mapmarker){
    color: rgb(50,50,50);
    border: 5px solid;
    text-align: right;
    border-radius: 6%;
    width: 200px;
    grid-row: 1;
    grid-column: 10;
    align-self: stretch;
}

/*Forms */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

button[type=submit] {
    background-color: transparent;
    padding: 5px;
  }

  button[type=submit]:hover {
    background-color: green;
  }